include ../../atoms/radio-button/radio-button

mixin radio-buttons(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var displayStyle = spec.isExpandable ? 'display: block;' : ''
  .radio-buttons(class=spec.__class)&attributes(attributes)
    if spec.isExpandable
      a.radio-buttons__label(href="#")
        span= spec.label
        span.icon.icon-angle-down
    else
      if spec.label
        p.radio-buttons__label= spec.label
    ul.radio-buttons__list(style=displayStyle)
      each option, index in spec.options
        li
          +radio-button({
            "id": spec.name + index,
            "name": spec.name,
            "value": option.value,
            "label": option.label,
            "checked": option.checked
          })

          if option.children
            - var isHidden = option.childrenIsHidden ? 'is-hidden' : ''
            ul.radio-buttons__list(class=isHidden)
              each child, index in option.children
                li
                  +checkbox({
                    "id": spec.name + option.value + index,
                    "name": spec.name,
                    "value": child.value,
                    "label": child.label
                  })
