.card {
  &__image {
    @include aspect-ratio(4, 3, 100%);

    picture,
    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__text {
    h3 {
      font-size: calc-em(20px);
      margin: 0 0 8px;
    }

    p {
      margin: 0 0 8px;
    }

    .cta {}
  }
}