mixin breadcrumb(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.breadcrumb.desktop-only&attributes(attributes)
    .container
      ul
        each link, index in spec
          li
            if index === spec.length - 1
              span=link.label
            else
              a(href=link.url)=link.label
