$labelColor: $black;
$boxBgColor: #fff;
$boxBorderColor: $black;
$checkColor: $primary;

// checkbox styles
input.checkbox {
  @extend %vh;
  opacity: 0;
  visibility: hidden;

  + label {
    color: $labelColor;
    cursor: pointer;
    display: inline-block;
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      background: $boxBgColor;
      border: 1px solid $boxBorderColor;
      display: inline-block;
      height: 18px;
      left: 0;
      margin-right: 10px;
      position: absolute;
      vertical-align: middle;
      width: 18px;
    }

    &:after {
      content: "✓";
      background: $checkColor;
      color: #fff;
      height: 18px;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      transform: scale(1.5);
      transition: transform .15s $easeInOutExpo, opacity .15s ease-in-out, visibility .15s ease-in-out;
      top: 0;
      visibility: hidden;
      width: 18px;
    }
  }

  &:checked {
    + label {
      &:after {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
    }
  }
}
