mixin checkbox(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.checked = spec.checked || false

  input.checkbox(type="checkbox", name= (spec.name) ? spec.name : false, value= spec.value, id= spec.id, checked=spec.checked)
  label(for= spec.id) !{spec.label}
