//text-field styles
$placeholder-color: #A0A0A0;
$placeholder-border: $black;

.text-field {
  &__label {
    margin-right: 10px;
  }

  &__input {
    background: #fff;
    border: 1px solid $placeholder-border;
    padding: 10px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $placeholder-color;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $placeholder-color;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $placeholder-color;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $placeholder-color;
    }
  }
}
