%container {
  // @extend %clearfix;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.container {
	@extend %container;
  max-width: $bpMdDesktop;
}

.container-lg {
  @extend %container-lg;
  max-width: $bpLgDesktop;
}

.row {
  margin: 0 (-$gutter);
  display: flex;
	flex-wrap: wrap;
}

.reverse-row {
  flex-direction: row-reverse;
}

[class^="col-"], [class*=" col-"] {
	padding: 0 $gutter;
}

[class^="col-offset-"], [class*=" col-offset-"] {
  margin: auto;
}

@for $i from 1 through 12 {
	.col-xs-#{$i} {
	  flex: 0 0 (100% / 12 * $i);
	  max-width: (100% / 12 * $i);
	}

	.col-offset-xs-#{$i} {
	  margin-left: (100% / 12 * $i);
	}
}

@media only screen and (min-width: $bpTablet), print {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
		  flex: 0 0 (100% / 12 * $i);
		  max-width: (100% / 12 * $i);
		}

		.col-offset-sm-#{$i} {
		  margin-left: (100% / 12 * $i);
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
		  flex: 0 0 (100% / 12 * $i);
		  max-width: (100% / 12 * $i);
		}

		.col-offset-md-#{$i} {
		  margin-left: (100% / 12 * $i);
		}
	}
}

@media only screen and (min-width: $bpLgDesktop) {
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
		  flex: 0 0 (100% / 12 * $i);
		  max-width: (100% / 12 * $i);
		}

		.col-offset-lg-#{$i} {
		  margin-left: (100% / 12 * $i);
		}
  }
}

@media print {
  .row {
		@include clearfix;
    display: block;
  }

	.container {
		@include clearfix;
	}

  [class*=" col-"], [class^=col-] {
    float: left;
  }

	.reverse-row {
		flex-direction: initial;
	
		[class^="col-"],
		[class*=" col-"] {
			float: right;
		}
	}
}