//helper classes
%list-unstyled {
	@include normalise-list;
}

%vh {
	@include visuallyHidden;
}

.vh, .sr-only {
	@include visuallyHidden;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.right { float: right; }
.left { float: left; }

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

@media only screen and (max-width: $bpTablet - 1) {
  // no-mobile = tablet-desktop
	.tablet-only, .tablet-desktop {
		display: none;
	}
}

@media only screen and (min-width: $bpTablet), print {
	.mobile-only {
		display: none;
	}
}

@media only screen and (max-width: $bpDesktop - 1) {
	.desktop-only {
		display: none;
	}
}

@media only screen and (min-width: $bpDesktop), print {
  // no-desktop = mobile-tablet
	.tablet-only, .mobile-tablet {
		display: none;
	}
}