//Media query breakpoints
$bpMobile: 320px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpMdDesktop: 1280px;
$bpLgDesktop: 1440px;
$bpXlDesktop: 1600px;

/* Font variables */
$base-fontsize: 16px;
$base-lineheight: 1.3;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$ultrabold: 900;
$headerFont: 'Roboto', serif;
$bodyfont: 'Lato', Helvetica, Arial, sans-serif;

/* Grids */
$gutter: 10px;

/* Colours */
$primary: red;
$secondary: #fff;

$black: #333;
$link: $primary;

/* Easing */
$easeInOutExpo: cubic-bezier(0.75, 0, 0, 0.75);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$boxShadow: 0 5px 10px 0 transparentize(#000, .8);