include ../../common/search-filters/search-filters
include ../../common/pagination/pagination

mixin listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .listing-layout(class=spec.__class data-endpoint= spec.endpoint)&attributes(attributes)
    .row
      .col-sm-4.col-md-3
        +search-filters({
          "comboboxes": [
            {
              "label": "Option set 1:",
              "id": "filter1",
              "name": "filter1",
              "options": [
                {
                  "value": "all",
                  "label": "All"
                },
                {
                  "value": "option1",
                  "label": "Option 1"
                },
                {
                  "value": "option2",
                  "label": "Option 2"
                },
                {
                  "value": "option3",
                  "label": "Option 3"
                }
              ]
            },
            {
              "label": "Options set 2:",
              "id": "filter2",
              "name": "filter3",
              "options": [
                {
                  "value": "all",
                  "label": "All"
                },
                {
                  "value": "option1",
                  "label": "Option 1"
                },
                {
                  "value": "option2",
                  "label": "Option 2"
                },
                {
                  "value": "option3",
                  "label": "Option 3"
                }
              ]
            }
          ]
        })

      .col-sm-8.col-md-9
        form.search__form
          +text-field({
            "__hideLabel": true,
            "id": "search",
            "label": "Search",
            "type": "text",
            "name": "search",
            "placeholder": "Enter a search term..."
          })

          input.btn.btn--red.btn-submit(type="submit", value="Go")

        .search__results(class=spec.__class)&attributes(attributes)
          .search__results-header
            p.search__results-hint
              strong
                | We found #{' '}
                span.total 170
                |  results you're searching for:
          .search__results-body
            ul.search__results-list

          .search__results-footer
            .pagination
            .m-pagination

  script#listingDot(type="text/x-dot-template")
    | {{?it.length}}
    | {{~it :item:index}}
    li.search__results-item
      +card-dot()
    | {{~}}
    | {{??}}
    p No results found, please refine your search.
    | {{?}}

