mixin nav-dropdown(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.nav-dropdown&attributes(attributes)
    if spec.button
      button.nav-dropdown__button(type="button")
        span.label Download brochure
        span.icon.icon-angle-down
    ul
      each item in spec.items
        li
          if item.icon
            a(href= item.url)
              span.icon(class=item.icon)
              span.name= item.name
          else
            a(href= item.url)= item.name

