//select-field styles
$selectBorder: #E3E3E3;

.select-field {
  &__label {
    margin-right: 10px;
  }

  &.custom-select {
    .custom-list {
      li {
        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: "";
          border-bottom: 1px solid $selectBorder;
          display: block;
          width: calc(100% - 20px);
          margin: auto;
        }
      }
    }
  }
}
