$scrollbar: #aaa;
$scrollbarBackground: #ddd;
$dropdownListShadow: 2px 2px 10px 0 transparentize(#000, .8);
$triggerButtonColor: #000;
$triggerButtonBackground: #fff;
$triggerButtonHoverColor: #000;
$triggerButtonHoverBackground: #aaa;
$iconColor: #000;
$itemBackground: #fff;
$itemColor: #000;
$selectedItemColor: #000;
$selectedItemBackground: #aaa;
$disabledItemBackground: #ddd;
$disabledItemColor: #aaa;
$itemHoverColor: #000;
$itemHoverBackground: #aaa;
$listMaxHeight: 220px;

.custom-select {
  select {
    @include visuallyhidden();
  }

  &__custom-dropdown {
    display: inline-block;
    min-width: 200px;
    position: relative;

    &.list-shown {
      .custom-list {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        pointer-events: auto;
      }
    }

    /* Trigger button for dropdown */
    .custom-trigger {
      background: $triggerButtonBackground;
      border: 1px solid $triggerButtonColor;
      color: $triggerButtonColor;
      outline: 0;
      padding: 10px 50px 10px 10px;
      position: relative;
      text-align: left;
      width: 100%;

      /* Trigger button hover */
      &:hover, &:focus {
        background: $triggerButtonHoverBackground;
        color: $triggerButtonHoverColor;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .icon {
        align-items: center;
        display: flex;
        color: $iconColor;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 40px;
        right: 0;
        text-align: center;
        top: 0;
      }
    }

    /* Customized dropdown list */
    .custom-list {
      @extend %list-unstyled;
      background: $itemBackground;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: $dropdownListShadow;
      max-height: $listMaxHeight;
      opacity: 0;
      overflow: auto;
      position: absolute;
      // MOZ
      scrollbar-color: $scrollbar $scrollbarBackground;
      scrollbar-width: thin;
      // IE 11
      scrollbar-face-color: $scrollbar;
      scrollbar-track-color: $scrollbarBackground;
      transform: scale(0.5);
      transition: transform .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
      visibility: hidden;
      width: 100%;
      z-index: 999;
      pointer-events: none;

      &::-webkit-scrollbar {
        width: 5px;
        background: $scrollbarBackground;
      }

      &::-webkit-scrollbar-thumb {
        background: $scrollbar;
        border-radius: 5px;
      }

      li {
        /* Selected item */
        &.active {
          button {
            background: $selectedItemBackground;
            color: $selectedItemColor;
          }
        }

        /* Disabled item */
        &.disabled {
          button {
            background: $disabledItemBackground;
            color: $disabledItemColor;

            &:hover, &:focus {
              cursor: not-allowed;
              background: $disabledItemBackground;
              color: $disabledItemColor;
              pointer-events: none;
            }
          }
        }

        /* Dropdown items */
        button {
          background: $itemBackground;
          border: 0;
          color: $itemColor;
          display: block;
          outline: 0;
          padding: 10px;
          text-align: left;
          width: 100%;

          /* Dropdown items hover */
          &:hover, &:focus {
            background: $itemHoverBackground;
            color: $itemHoverColor;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .custom-select {
    &__custom-dropdown {
      display: block;
    }
  }
}
