mixin site-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header.site-header&attributes(attributes)
    .container
      .site-header__logo
        a(href="/")
          img(src="/assets/images/logo.jpg", alt="<%= name %>")

      .site-header__ctrl 
        .site-header__search-toggle
          button(type="button")
            span.vh Toggle search
            span.icon-search

        .site-header__menu-toggle.mobile-tablet
          button(type="button")
            span.vh Navigation menu
            span.line.line1
            span.line.line2
            span.line.line3
            span.line.line4
      
      nav.site-header__nav
        // if megamenu
          include megamenu
        // else
        ul.site-header__nav--lvl1
          each lvl1 in spec.nav
            li
              a(href=lvl1.url)=lvl1.label
              if lvl1.children
                ul.site-header__nav--lvl2
                  each lvl2 in lvl1.children
                    li
                      a(href=lvl2.url)=lvl2.label

    .site-header__search 
      .container
        .site-header__search-wrapper
          label.vh(for="siteSearch") Search the site
          input#siteSearch(type="text" name="q" placeholder="Search...")
          button(type="button")
            span.vh Submit search 
            span.icon-search