mixin date-field(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .date-field(class=spec.__class)&attributes(attributes)
    if spec.__hideLabel
      span.sr-only= spec.label
    else
      span.date-field__label= spec.label
    .date-field__inputs
      .date-field__inputs--from
        if spec.__hideLabel
          label.sr-only(for=spec.id + 'From') From
        else
          label(for=spec.id + 'From') From
        input.date-field__input.date-picker(autocomplete="off" type="date", name= spec.name + 'From', id= spec.id + 'From')
        span.icon.icon-calendar
      .date-field__inputs--to
        if spec.__hideLabel
          label.sr-onl(for=spec.id + 'To') To
        else
          label(for=spec.id + 'To') To
        input.date-field__input.date-picker(autocomplete="off" type="date", name= spec.name + 'To', id= spec.id + 'To')
        span.icon.icon-calendar
