//date-field styles
$border-color: $black;
$placeholder: #A0A0A0;    // input text placeholder grey
$icon-color: #A4A4A4;

.date-field {
  &__label {
		display: block;
    margin-bottom: 0.5rem;
  }

  &__inputs {
		&--from,
		&--to {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			label {
				margin-bottom: 0;
				font-weight: 700;
			}
		}

		&--from {
			margin-bottom: 14px;
		}
  }

  &__input {
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 0;
    height: auto;
		padding: 10px;
		display: block;
    width: calc(100% - 48px);
    
    &:disabled, &[readonly] {
      background: #fff;
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $placeholder;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $placeholder;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $placeholder;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $placeholder;
    }
	}

	.icon {
		position: absolute;
		right: 10px;
		color: $icon-color;
	}
}
