//tab-content styles
$border-color: #e3e3e3;
$link-color: $black;
$active-link-color: $primary;

.tab-content {
  $p: &;
  margin-bottom: 30px;

  .accordion & {
    margin-bottom: 0;
  }

  @media only screen and (min-width: $bpDesktop){
    margin-bottom: 50px;
  }

  &__nav {
    margin-bottom: 0;

    ul {
      @extend %list-unstyled;
      @extend %clearfix;
      background: #fff;

      li {
        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: "";
          border-bottom: 1px solid $border-color;
          display: block;
          width: calc(100% - 20px);
          margin: auto;
        }

        a {
          background: transparent;
        }
      }
    }
  }

  &.tab-init {
    #{$p}__content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__content {
    border: 1px solid $border-color;
    padding: 15px;
  }
}

@media only screen and (min-width: $bpTablet), print {
  .tab-content {
    &__nav {
      &.nav-dropdown {
        .nav-dropdown__button {
          display: none;
        }

        ul {
          box-shadow: none;
          border: 0;
          display: block;
          opacity: 1;
          position: relative;
          visibility: visible;
          transform: scale(1);
          pointer-events: auto;

          li {
            float: left;

            &:first-child {
              margin-left: 0;
            }

            &:after {
              display: none;
            }

            &.active {
              a {
                color: $active-link-color;

                &:after {
                  width: 100%;
                }
              }
            }

            a {
              background: transparent;
              color: $link-color;
              display: block;
              padding: 10px;
              position: relative;
              text-decoration: none;

              &:hover, &:focus {
                color: $active-link-color;

                &:after {
                  width: 100%;
                }
              }

              &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 3px;
                background: $active-link-color;
                top: calc(100% - 1px);
                left: 0;
                right: 0;
                opacity: 1;
                transition: width 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

.tab-content__content {
  > .row {
    > .col-md-3,
    > .col-md-4 {
      padding-right: 24px;

      & + .col-md-8,
      & + .col-md-9 {
        padding-right: $gutter;
        padding-left: 24px;
      }

      // Reset for 4-4-4 and 3-3-3-3
      &.col-sm-4,
      &.col-sm-6 {
        padding-right: $gutter;
      }

      & ~ .col-md-3,
      & ~ .col-md-4 {
        padding-right: $gutter;
      }
      // end of reset block
    }

    > .col-md-8,
    > .col-md-9 {
      padding-right: 24px;

      & ~ .col-md-3,
      & ~ .col-md-4 {
        padding-left: $gutter;
        padding-right: 24px;
      }

      & + .col-md-3,
      & + .col-md-4 {
        padding-right: $gutter;
        padding-left: 24px;

        &:nth-child(odd) {
          // odd child of 3-9 or 4-8 row
          padding-left: 8px;
          padding-right: 24px;
        }
      }
    }
  }
}
