include ../../atoms/checkbox/checkbox

mixin combo-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .combo-box(class=spec.__class)&attributes(attributes)
    if spec.label
      p.combo-box__label= spec.label
    button.combo-box__trigger(type="button")
      span.label All
      span.icon.icon-angle-down
    .combo-box__options
      ul
        each option, index in spec.options
          li.option
            +checkbox({
              "id": spec.name + index,
              "label": option.label,
              "value": option.value,
              "name": spec.name
            })
