extends <%= urlPath %><%= layoutDir %>/<%= layout %>

block append config
  //- Correct base url pathing for this page
  - baseUrl = '<%= urlPath %>'
  - pageTitle = '<%= name.toLowerCase() %>'

block <% if (layout === 'base') { %>content<% } else{ %><%= layout %>Content<% } %>
  p <%= name.toLowerCase() %> page
