mixin carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section(class=spec.__class data-carousel data-options)&attributes(attributes)
    if block 
      block 
    else 
      p There is no content.
